<!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">HealthU <br>Ultimate Dream</h2>
            <hr class="botm-line">
            <p class="sec-para">Health is not just about living longer but also about living a higher quality of life. This can include being able to engage in enjoyable activities, maintaining good relationships, and having the energy and vitality to pursue one's passions and interests</p>
            <a href="" style="color: #E8F7DD; padding-top:10px;">Know more..</a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>It's something important you want to know.</h3>
                <p>Utilizing NFC technology on smartphones, our app seamlessly shares medical records with healthcare facilities, ensuring instant access and improved data security through biometric authentication</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>It's something important you want to know.</h3>
                <p>Our app works universally across all hospitals and labs, streamlining the process of sharing medical data regardless of the healthcare provider, ensuring smooth communication and collaboration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->

   <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          <p>Improving the management and sharing of medical records is essential for ensuring the quality of healthcare and patient safety.
 
           <p> Transitioning to electronic health records and secure patient portals can greatly enhance the organization, accessibility, and security of medical information, ultimately benefiting both patients and healthcare providers.</p> 
            
            These systems provide a centralized and secure platform for storing and accessing medical records, making it easier for patients to retrieve and share critical information during doctor visits or emergencies. 
            </p>
          <p class="text-right text-primary"><i>— HealthU</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
  <!--cta-->

