  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Our mission is to transform healthcare services for everyone by delivering swift, high-quality care that eliminates the stress associated with one's health. We are dedicated to providing efficient and exceptional services, ensuring our customers can trust in their well-being without worry.</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>Medical Records</h4>
              <p>We offer comprehensive medical record storage, encompassing complete histories, reports, and prescriptions.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>Doctor Recommendations</h4>
              <p>The application suggests suitable doctors for specific medical issues and identifies the nearest hospitals where those doctors are available, simplifying the decision-making process for patients.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Appointment Management</h4>
              <p>Users can book appointments and receive timely reminders for appointments and medication doses, ensuring proper healthcare adherence.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Blood Donation Alerts</h4>
              <p>The app can identify users with matching blood types who are in close proximity to a hospital in need of blood donations. It sends notifications to eligible users, optimizing blood donation efforts while preventing overcrowding at hospitals.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->




